EMAIL=yourmail@yourmail.com
HOST_FQDN=mysite.com
# Allowed IPs. IP or range. Example 10.1.1.1 or 10.1.1.0/24
CLIENT_IP=
RPC='http://127.0.0.1:9946'
# Port for traefik dashboard. If default dashboard port 8080 is already used in your serever, 
# you can set custom port. If empty, default port 8080 will be used.
DASHBOARD_PORT=
